{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('./style/style.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <h1>Mon profil (ici on mettre le nom de l'user)</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pdp</th>
                <th>Dob</th>
                <th>Adrmail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profil in profils %}
            <tr>
                <td><a href="{{ path('profil_show', { 'id': profil.id }) }}">{{ profil.id }}</a></td>
                <td>{{ profil.nom }}</td>
                <td>{{ profil.prenom }}</td>
                <td>{{ profil.pdp }}</td>
                <td>{% if profil.dob %}{{ profil.dob|date('Y-m-d') }}{% endif %}</td>
                <td>{{ profil.adrmail }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('profil_show', { 'id': profil.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('profil_edit', { 'id': profil.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('profil_new') }}">Create a new profil</a>
        </li>
    </ul>
{% endblock %}
